.drawing-board__wrapper {
  max-width: 320px;
  min-width: 300px;
}

.drawing-board__user-manual {
  margin: 0;
  padding: 0 10px;

  font-size: 14px;
  line-height: 16px;
  text-align: justify;
}

.drawing-board__user-manual-title {
  margin: 0;
  padding: 0;
}

.drawing-board__user-manual-emphasis {
  color: $color--emphasis;
}

.drawing-board__user-manual-instructions {
  margin: 0;
}

.drawing-board__user-manual-text {
  margin: 0;
  padding: 0;
}

.drawing-board__toolkit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 60px;
}

.drawing-board__color-selector-wrapper {
  text-align: center;
}

.drawing-board__color-selector {
  background-color: $gray;
}

.drawing-board__color-selector-title {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.drawing-board__eraser {
  margin-top: 16px;
}

.drawing-board__clear-button {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding: 10px 14px;

  background-color: $white;
  border: 2px solid $black;
  border-radius: 2px;

  cursor: pointer;

  transition-property: color, background-color, transform;
  transition-duration: 0.08s;
  transition-timing-function: ease;
}

.drawing-board__canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}


/*
------------------------------------------------------------------
********************** Интерактивные стили ***********************
------------------------------------------------------------------
*/
.drawing-board__eraser-input:checked ~ .drawing-board__eraser-title {
  color: $color--emphasis;
}

.drawing-board__eraser-title:hover {
  color: $lightgray;
}

.drawing-board__eraser-title:active {
  opacity: 0.8;
}

.drawing-board__clear-button:hover,
.drawing-board__clear-button:focus {
  color: $white;
  background-color: $color--emphasis;
}

.drawing-board__clear-button:active {
  transform: scale(0.9);
  opacity: 0.6;
}



/*
==================================================================
------------------------- МЕДИАВЫРАЖЕНИЯ -------------------------
==================================================================
*/

// *** 1) "Планшетная" ширина вьюпорта ***
@media (min-width: $width--tablet) {
  .drawing-board__wrapper {
    max-width: 640px;
  }

  .drawing-board__toolkit {
    justify-content: space-between;
    max-width: 560px;
  }

  .drawing-board__eraser {
    margin-top: 0;
  }

  .drawing-board__clear-button {
    margin-right: auto;
    margin-left: auto;
  }
}

// *** 2) "Десктопная" ширина вьюпорта ***
@media (min-width: $width--desktop) {
  .drawing-board__wrapper {
    max-width: 960px;
  }

  .drawing-board__user-manual {
    padding: 0 60px;
  }

  .drawing-board__toolkit {
    max-width: 820px;
  }

  .drawing-board__clear-button {
    margin: 0;
  }
}