.pixelart__header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 60px;

  margin-top: 30px;

  text-align: center;
}

.pixelart__header-description {
  margin: 0;
  margin-top: 10px;
  padding: 10px 0;

  border: 2px solid $white;
  border-left: none;
  border-right: none;

}

.pixelart__main-title {
  margin: 0;
  padding: 0;
}

.pixelart__content {
  margin-top: 60px;
}

.pixelart__footer {
  margin-top: 120px;
  padding-bottom: 30px;

  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.pixelart__footer-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 920px;
  min-width: 320px;
  min-height: 140px;


  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;

    width: 100%;
    height: 1px;

    background-color: $indigo;
  }
}

.pixelart__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.pixelart__developer {
  max-width: 120px;

  margin: 0;
  padding: 0;
}

.pixelart__link {
  font-size: 8px;
  line-height: 10px;
  color: $blueviolet;
  text-decoration: none;
}

.pixelart__additional-info {
  margin: 0;
  margin-top: auto;
  padding: 0;

  font-size: 6px;
  line-height: 10px;
}



/*
==================================================================
------------------------- МЕДИАВЫРАЖЕНИЯ -------------------------
==================================================================
*/

// *** 1) "Планшетная" ширина вьюпорта ***
@media (min-width: $width--tablet) {
  .pixelart__footer-wrapper {
    max-width: 600px;
  }
}

// *** 2) "Десктопная" ширина вьюпорта ***
@media (min-width: $width--desktop) {
  .pixelart__footer-wrapper {
    max-width: 920px;
  }
}