.pixels-list {
  @include markerless;

  max-width: 280px;
  min-width: 280px;

  display: flex;
  flex-wrap: wrap;

  outline: 2px solid $gray;


  &--tablet,
  &--desktop {
    display: none;
  }
}

.pixels-list__item {
  width: 20px;
  height: 20px;

  background-color: $white;
  border: 1px dashed $gray;
}


/*
------------------------------------------------------------------
********************** Интерактивные стили ***********************
------------------------------------------------------------------
*/
.pixels-list__item:hover {
  background-color: $lightgray;
  cursor: pointer;
}

.pixels-list__item:active {
  opacity: 0.9;
}



/*
==================================================================
------------------------- МЕДИАВЫРАЖЕНИЯ -------------------------
==================================================================
*/

// *** 1) "Планшетная" ширина вьюпорта ***
@media (min-width: $width--tablet) {
  .pixels-list {
    &--tablet {
      display: flex;
    }
  }
}

// *** 2) "Десктопная" ширина вьюпорта ***
@media (min-width: $width--desktop) {
  .pixels-list {
    &--desktop {
      display: flex;
    }
  }
}