// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 768px;
$width--desktop: 1150px;

// *** для Шрифтов ***
$default-font: "Press Start 2P", "Arial", sans-serif;

// *** для Цветов ***
$white: #ffffff;
$black: #000000;
$lightgray: #dcdcdc;
$gray: #eeeeee;

$purple: #8a2be2;
$indigo: #4B0082;

$color--emphasis: #00bfff;
